.content-end {

}

.form-content-main {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 5px;
    color: black;
}

.form-content-main h1 {
    font-size: 1.2em;
}
