.site .navbar {
    box-shadow: 2px 4px 8px 2px ;
    padding: 5px 20px;
}

.navbar .user-ciclo {
    max-width: 30px;
    border-radius: 100%;
}

.navbar .btn-menu {
    background-color: transparent;
    border: none;
    color: rgb(163, 152, 152);
    font-size: 23px;
}
